/.cakeblog/.composer/*
/.cakeblog/.cakeblog/*
/.cakeblog/CakeCRM-master/*
/.idea/*
/vendor/*
/config/app.php
/tmp/*
/logs/*
/config/cakeblog-config.php
/config/cakeblog-functions.php
/config/routes.php
/src/Template/Themes/georgewhitcher/*
/src/Template/Layout/georgewhitcher.ctp
/webroot/css/georgewhitcher.css
/webroot/js/georgewhitcher.js
/webroot/uploads/*
/src/Controller/Pages2Controller.php
/cache/*

