<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^updater - [L]
    RewriteCond %{REQUEST_URI} !^/updater(?:$|/)
    RewriteRule    ^$    webroot/    [L]
    RewriteCond %{REQUEST_URI} !^/updater(?:$|/)
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>